/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    GdTBioinfo-nf/snvs Configurations
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Github : https://github.com/GdTBioinfo-nf/snvs
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

// Configuración general
process {
    executor = 'local'  // Cambia esto a 'slurm', 'lsf', etc. según tu sistema
    withName: runSpliceAI {
        memory = '8 GB'  // Ajusta según las necesidades del proceso
        cpus = 1         // Establece el número de CPUs necesarias
    }
}

process {
    withName: SpliceAI {
        conda 'environment.yml' // Ruta al archivo de entorno
    }
}

// Parámetros
params {
    vcf = 'ruta/al/archivo/input.vcf' // Archivo de entrada VCF
    fasta = 'ruta/al/genoma/genome.fasta' // Archivo de referencia FASTA
    output_dir = 'output/' // Directorio para resultados
}

// Configuraciones de Docker (si utilizas contenedores)
docker {
    enabled = true
    run {
        image = 'illumina/spliceai:latest' // Imagen Docker para SpliceAI
        args = '-v ${params.output_dir}:${params.output_dir}' // Monta el directorio de salida
    }
}

// Configuraciones específicas del pipeline
profiles {
    standard {
        process {
            withName: SNVS {
                // Aquí podrías agregar configuraciones específicas para SNVS
                memory = '4 GB'
                cpus = 2
            }
            withName: PANGOLIN {
                // Configuraciones específicas para Pangolin
                memory = '4 GB'
                cpus = 2
            }
        }
    }
}

