/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: 'BWA_MEM' {
        ext.prefix   = {"${meta.id}.mapped"}
        ext.args = {"-Y "}
        ext.args2 = {"-1 "}
    }

    withName: 'GATK4_FASTQTOSAM' {
        ext.prefix   = {"${meta.id}"}
        ext.args = { "--READ_GROUP_NAME ${meta.id}.unmapped --PLATFORM illumina " }
    }


    withName: SAMTOOLS_SORT {
        ext.prefix   = {"${meta.id}.sorted"}
        ext.args = '-n'
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: 'GATK4_MERGEBAMALIGNMENT' {
        ext.prefix   = {"${meta.id}.merged"}
        ext.args = '--VALIDATION_STRINGENCY SILENT --EXPECTED_ORIENTATIONS FR --ATTRIBUTES_TO_RETAIN X0 --PAIRED_RUN true --SORT_ORDER "coordinate" --IS_BISULFITE_SEQUENCE false --ALIGNED_READS_ONLY false --CLIP_ADAPTERS false --ADD_MATE_CIGAR true --MAX_INSERTIONS_OR_DELETIONS -1 --PRIMARY_ALIGNMENT_STRATEGY MostDistant --UNMAPPED_READ_STRATEGY COPY_TO_TAG --ALIGNER_PROPER_PAIR_FLAGS true --UNMAP_CONTAMINANT_READS true '
    }

    withName: 'GATK4SPARK_MARKDUPLICATES' {
        ext.prefix   = {"${meta.id}.markduplicates.bam"}
    }



    withName: '.*GATK_VCF:GATK4_SELECTVARIANTS_SNP' {
        ext.prefix   = {"${meta.id}_snp"}
        ext.args = ' --select-type-to-include SNP '
    }

    withName: '.*GATK_VCF:GATK4_SELECTVARIANTS_INDEL' {
        ext.prefix   = {"${meta.id}_indel"}
        ext.args = ' --select-type-to-include INDEL '
    }

    withName: '.*GATK_VCF:GATK4_SELECTVARIANTS_MIX' {
        ext.prefix   = {"${meta.id}_mix"}
        ext.args = ' --select-type-to-include MIXED --select-type-to-include MNP --select-type-to-include SYMBOLIC '
    }

    withName: '.*GATK_VCF:GATK4_VARIANTFILTRATION_SNV' {
        ext.prefix   = {"${meta.id}_filtered_snv"}
        ext.args = '-filter "QD < 2.0" --filter-name "QD2" -filter "QUAL < 30.0" --filter-name "QUAL30" -filter "SOR > 3.0" --filter-name "SOR3" -filter "FS > 60.0" --filter-name "FS60" -filter "MQ < 40.0" --filter-name "MQ40" -filter "MQRankSum < -12.5" --filter-name "MQRankSum-12.5" -filter "ReadPosRankSum < -8.0" --filter-name "ReadPosRankSum-8" '
    }

    withName: '.*GATK_VCF:GATK4_VARIANTFILTRATION_INDEL' {
        ext.prefix   = {"${meta.id}_filtered_indel"}
        ext.args = '-filter "QD < 2.0" --filter-name "QD2" -filter "QUAL < 30.0" --filter-name "QUAL30" -filter "FS > 200.0" --filter-name "FS200" -filter "ReadPosRankSum < -20.0" --filter-name "ReadPosRankSum-20"'
    }

    withName: '.*GATK_VCF:GATK4_VARIANTFILTRATION_MIX' {
        ext.prefix   = {"${meta.id}_filtered_mix"}
        ext.args = ' -filter "QD < 2.0" --filter-name "QD2" -filter "QUAL < 30.0" --filter-name "QUAL30" '
    }

    withName: 'BCFTOOLS_SORT' {
        ext.prefix   = {"${vcf.simpleName}.sorted"}
    }
    
    withName: 'GATK4_MERGEVCFS' {
        ext.prefix   = {"${meta.id}.merged"}
    }


    withName: '.*GATK_VCF:BCFTOOLS_FILTER' {
        ext.prefix   = {"${meta.id}.gatk.PASS"}
        ext.args = '-i "FILTER~\\"PASS\\"" -r chr1,chr2,chr3,chr4,chr5,chr6,chr7,chr8,chr9,chr10,chr11,chr12,chr13,chr14,chr15,chr16,chr17,chr18,chr19,chr20,chr21,chr22,chrX,chrY --output-type z --write-index=tbi'
    }


    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
